/* VAR */
:root {
    --snackred: #DD1C1A;
    --wiseyellow: #F0C808;
    --labelCol: #A3A3A3;
    --valueCol: #595959;

    --fontOutfit: 'Outfit', sans-serif;
    --fontPoppins: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/Background-Pattern.jpg);
    font-size: 62.5%;
}

.parent-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-window {
    background-color: white;
    width: 100%;
    padding: 5em 5em;
}

.snackwise-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.snackwise-label img{
    width: 3em;
    margin: 0 auto;
}

.snackwise-label{
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.brand-name .red {
    color: #DD1C1A;
}

.brand-name .yellow {
    color: #F0C808;
}

.brand-name a {
    text-decoration: none;
}

.back-container {
    margin-top: 2rem;
}

.back-container a{
    font-size: 1.7em;
    text-decoration: none;
    color: #B3B3B3;
    
}

.form-header {
    margin-bottom: 2rem;
}

.form-header h1 {
    font-size: 2.0rem;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    color: #DD1C1A;
}

#account_form {
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    margin: 1em 0;
}

.input-container input {
    background-color: #F2F1F9;
    width: 100%;
    border-style: none;
    border-radius: 10px;
    font-size: 1.6em;
    padding: 1em 1.3em;
}

.input-container .toggler {
    font-size: 2em;
    position: absolute;
    top: 20px;
    right: 30px;
    color: #75758A;
}

.input-container span {
    font-size: 1.6em;
}

#account_form .group-txt {
    font-family: var(--fontPoppins);
    font-size: 1.8em;
    font-weight: bold;
    color: var(--valueCol);
    margin-top: 1em;
}

@media (min-width: 500px) {
   
    .form-window {
        max-width: 35.0rem;
    }
    
}


.input_error {
    position: relative;
    top: 3px;
  
    font-size: 14px!important;
    color: red;
}

#account_form #change_password {
    width: 100%;
    font-size: 1.7em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--wiseyellow);
    color: white;
    border-style: none;
    border-radius: 10px;
    padding: 1em;
    margin-top: 2em;
}