/* VAR */
:root {
    --snackred: #DD1C1A;
    --wiseyellow: #F0C808;
    --labelCol: #A3A3A3;
    --valueCol: #595959;

    --fontOutfit: 'Outfit', sans-serif;
    --fontPoppins: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
}

.counter-cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.counter-con {
    background-color: white;
    margin: 1em;
    padding: 1.5em 5em;
    border-radius: 5px;
    border: solid 1px rgb(218, 218, 218);
}

.counter-con .counter-label {
    font-size: 1.6em;
    font-weight: bold;
    color: var(--labelCol);
}

.counter-con .counter {
    font-size: 2em;
    font-weight: bold;
}

