/* VAR */
:root {
    --snackred: #DD1C1A;
    --wiseyellow: #F0C808;
    --labelCol: #A3A3A3;
    --valueCol: #595959;

    --fontOutfit: 'Outfit', sans-serif;
    --fontPoppins: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    background-image: url(../img/Background-Pattern-BW.jpg);
}

.container {
    background-color: white;
    border-radius: 5px;
    margin-top: 5em;
    border: solid 1px rgb(199, 199, 199);
    min-height: 75vh;
    display: flex;
    flex-flow: column;
}

.user-table-header {
    width: 100%;
    position: relative;
}

.back-link {
    position: absolute;
    font-size: 1.6em;
    top: 50%;
    transform: translateY(-50%);
}

.back-link {
    vertical-align: center;
    text-decoration: none;
    color: var(--labelCol);
    transition: all .1s;
}

.back-link:hover {
    color: var(--valueCol);
}

.page-title {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--valueCol);
}

.row-1 {
    flex: 0 1 auto;
}

.row-3 {
    flex: 1 1 auto;
    overflow-y: auto;
}
/* CUSTOM SCROLL */
/* width */
    .row-3::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    .row-3::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    /* Handle */
    .row-3::-webkit-scrollbar-thumb {
        background: rgb(180, 180, 180);
        border-radius: 10px;
    }

    /* Handle on hover */
    .row-3::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

thead > tr > th  {
    font-size: 1.6em;
    color: var(--valueCol);
}

tbody > tr > td, tbody > tr > th {
    font-size: 1.6em;
    color: var(--valueCol);
}

.edit-btn {
    color: white;
}

/* FOR VIEW-TRANSACTIONS */

.filter-buttons-container button{
    background-color: var(--wiseyellow);
    border: none;
    transition: .1s ease;
    padding: .5em 2em;
    color: white;
}


.filter-buttons-container button:hover {
    color: black;
    background-color: var(--wiseyellow);
}

.sales-container span {
    font-size: 1.8em;
    color: #A3A3A3;
    font-weight: bold;
}

.total-price {
    font-weight: bold;
    color: #198754;
}

.filter-txt {
    font-size: 1.6em;
    color: var(--labelCol);
    font-family: var(--fontPoppins);
}

.filter-txt #filtered-by {
    font-weight: bold;
}

.order-count span {
   font-size: 1.8em; 
   color: var(--labelCol);
   font-weight: bold;
}

.order-count #total-transactions {
    color: var(--valueCol);
}