body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/Background-Pattern.jpg);
    font-size: 62.5%;
}

.parent-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-window {
    background-color: white;
    width: 100%;
    padding: 5em 5em;
}

.snackwise-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.snackwise-label img{
    width: 3em;
    margin: 0 auto;
}

.snackwise-label{
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.brand-name .red {
    color: #DD1C1A;
}

.brand-name .yellow {
    color: #F0C808;
}

.brand-name a {
    text-decoration: none;
}

.back-container {
    margin-top: 2rem;
}

.back-container a{
    font-size: 1.7em;
    text-decoration: none;
    color: #B3B3B3;
    
}

.form-header {
    margin-bottom: 2rem;
}

.form-header h1 {
    font-size: 2.0rem;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    color: #DD1C1A;
}

#account_form {
    display: flex;
    flex-direction: column;
}

#account_form span {
    font-size: 1.6em;
}

#account_form #user_identifier {
    font-size: 1.6em;
    background-color: #F2F1F9;
    border-radius: 10px;
    border-style: none;
    padding: 1em 1.3em;
}

#account_form #forgot_password {
    color: white;
    background-color: #F0C808;
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    padding: 1em;
    margin-top: 2em;
}

@media (min-width: 500px) {
   
    .form-window {
        max-width: 35.0rem;
    }
    
}
