body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/Background-Pattern.jpg);
    font-size: 62.5%;
}

.parent-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.window-container {
    width: 500px;
    background-color: white;
    padding: 5em 4em;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.snackwise-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}

.snackwise-label img{
    width: 3em;
    margin: 0 auto;
}

.snackwise-label{
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.brand-name .red {
    color: #DD1C1A;
}

.brand-name .yellow {
    color: #F0C808;
}

.back-container {
    margin-bottom: 1em;
}

.back-container a {
    color: #B3B3B3;
    font-size: 1.7em;
    text-decoration: none;
}

.form-header-container {
    margin-bottom: 2em;
}

.form-header-container h1 {
    font-size: 2.5em;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    color: #DD1C1A;
}

#success_message, #error_message {
    font-size: 1.6em;
    
}

.input-text .user_identifier {
    font-size: 1.6em;
    width: 100%;
    border-style: none;
    background-color: #F2F1F9;
    padding: 1em 1.3em;
    border-radius: 10px;
    margin-bottom: .5em;
}


#user_identifier_error {
    font-size: 1.6em;
}

.register-btn {
    width: 100%;
    margin-top: 2em;
    padding: 1em 0;
    font-size: 1.7em;
    font-weight: bold;
    color: white;
}


@media (max-width: 490px) {
   
    .window-container {
        width: 100%;
    }
    
}

