body {
    font-family: 'Roboto', sans-serif;
}

.snackwise-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.snackwise-label img{
    width: 3em;
    margin: 0 auto;
}

.snackwise-label{
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.brand-name .red {
    color: #DD1C1A;
}

.brand-name .yellow {
    color: #F0C808;
}

.form-container {
    padding: 2em 1em;    
}

.form-header {
    margin: 3em 0;
}

.form-header h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #DD1C1A;
}

.form-input-container {
    margin-bottom: 3em;
}

.col input {
    border: none;
    background-color: #eeeeee;
    height: 65px;
    margin: 1em 0;
    padding: 1em;
}

.btn {
    border-radius: 10px;
    font-size: 18px;
    padding: .8em 0;
    margin: 1em 0;
}

.signin-btn {
    background-color: #DD1C1A;
    color: white;
}

.signup-btn {
    border: 2px solid #F0C808;
    background-color: transparent;
}


@media (min-width: 768px) {

    .form-container {
        width: 35em;
        padding: 5em;
    }

    .parent-container {
        height: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
}