/* VAR */
:root {
    --snackred: #DD1C1A;
    --wiseyellow: #F0C808;
    --labelCol: #A3A3A3;
    --valueCol: #595959;

    --fontOutfit: 'Outfit', sans-serif;
    --fontPoppins: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
}

/* TEMPORARY */
.temporary_hide {
    display: none;
}

/* SIDEBAR CSS */

.sidecart {
    width: 300px;
    position: fixed;
    background-color: #ffffff;
    display: none;
    z-index: 15;
    right: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

hr {
    background-color: #CDCDCD;
}

.cart_list {
    overflow-y: auto;
    min-height: 200px;
}

.cart-image {
    border-radius: 7px;
    width: 60px;
    height: 60px;
}

.sidecart-close {
    border: 2px solid black;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 12px;
    color: black;

}

.item-remove {
    border: 1px solid #A1A1A1;
    padding: 1px 3px;
    border-radius: 4px;
    font-size: 9px;
    color: #A1A1A1;
}

.btn-checkout {
    background-color: #DD1C1A;
    border-radius: 8px;
    color: white;
}

.btn-clear {
    color: #A4A4A4;
}

.item-name {
    font-size: 1.6em;
}

.item-quantity {
    font-size: 1.3em;

}

.item-price {
    font-size: 1.6em;
    color: #F0C808;
}

.cart-label {
    font-size: 1.6em;
}

.cart_item {
    box-shadow: 0px 0px 3px #CDCDCD;
    border-radius: 8px;
}

.cart_price_information {
    min-height: 100px;
}

.cart_price_information .bold, .cart_price_information .bolder {
    font-size: 1.6em;
}

@media (max-width: 300px) {
    .sidecart {
        width: 100%;
    }
}

@keyframes open_cart {
    from {
        right: -1000px;
    }

    to {
        right: 0px;
    }
}

@keyframes close_cart {
    from {
        right: 0px;
    }

    to {
        right: -1000px;
    }

}

.bold {
    font-weight: 700;
}

.bolder {
    font-weight: 800;
}

/* END OF SIDEBAR CSS */

nav {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.navbar-brand {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.red {
    color: #DD1C1A;
}

.yellow {
    color: #F0C808;
}

#active {
    color: #F0C808;
}


.nav-list li{
    margin: 0 1em;
    font-size: 1.6em;
    font-weight: bold;
}



a[name="sign-up-btn"] {
    padding: .5em 2em;
    background-color: transparent; 
    border: none;
    color: #DD1C1A;
    font-weight: bold;
    border: solid 2px #DD1C1A;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

a[name="sign-up-btn"]:hover {
    background-color: #DD1C1A;
    color: white;
    border-color: #DD1C1A;
}

a[name="log-in-btn"] {
    color: #DD1C1A;
    font-weight: bold;
    padding: .5em 2em;
}

/* USER DROPDOWN */

.dropdown button {
    background-color: transparent;
    color: #878787;
    border: none;
    font-size: 2em;
    transition: ease-in-out .5s;
}


.user-dropdown-container .user-button {
    background-color: transparent;
    color: #878787;
    border: none;
    font-size: 2.5em;
}

.user-dropdown-container .drop-menu {
    display: none;
    position: absolute;
    font-size: 2em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    width: 250px;
    list-style: none;
    padding: 1em;
    z-index: 10;
}

.user-header {
    border-bottom: 2px solid #E1E1E1;
    padding: .5em .2em;
    margin-bottom: .5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: .1s ease;
    cursor: pointer;
}

.user-header:hover {
    background-color: #E1E1E1;
    border-radius: 15px;
}

.user-header .name-container {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: .5em;
}

.user-header img {
    width: 35px;
    clip-path: circle();
}

.user-header .full-name {
    font-size: .9em;
    font-weight: bold;
    font-style: var(--fontOutfit);
    color: var(--valueCol);
}


.user-menu-list {
    padding: 0;
}

.user-menu-list li {
    list-style: none;
    margin: .3em 0;
}

.user-menu-list li a {
    text-decoration: none;
    font-style: var(--fontPoppins);
    color: var(--labelCol);
    transition: .1s ease;
}

.logout-container {
    margin-top: 2em;
}

.logout-container a{
    text-decoration: none;
    color: var(--labelCol);

}



@media (min-width: 768px) {
   
    .user-dropdown-container .drop-menu {
        /* CENTER */
        right: 0;
        /* transform: translateX(-50%); */
    }    
    
}

/* END OF USER DROPDOWN CSS */

/* End of NAVBAR CSS */

.top-header {
    background-image: url(../img/Background-Pattern.jpg);
    height: 181px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header .container h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 4.0em;
}

.sorting {
    margin: 2em 0;
}

.sorting .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sorter-list {
    list-style: none;
}

.sorter-list li {
    display: inline-block;
    margin-right: 1em;
    font-size: 1.6em;
    border: solid #CDCDCD 1px;
    border-radius: 20px;
    padding: .5em 1.3em;
}

.sorter-list li a {
    text-decoration: none;
    color: #767676;
    line-height: 0;
    transition: .5s;
}

.sorter-list li:hover{
    border-color: #F0C808;
}

#active-sort {
    background-color: #F0C808;
    color: white;
    border: none;
}

#active-sort a {
    color: white;
}

.col-12 {
    padding: 12px;
}

.menu {
    margin-bottom: 10em;
}

.menu-item {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 20px;
    padding: 1em;
}

.product-img {
    /* background-color: grey; */
    overflow: hidden;
    max-width: 200px;
    align-self: center;
}

.product-img img{
    width: 100%;
    aspect-ratio: 1/1;
}

.product-details-wrapper {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-details-wrapper .product-details {
    display: flex;
    flex-direction: column;
}

.product-details .product-title {
    font-size: 2.5em;
    font-weight: bold;
}

.product-details .product-description {
    font-size: 1.6em;
}

.product-details .product-price {
    font-size: 1.8em;
    margin-top: 1em;
    font-weight: bold;
    color: #F0C808;
}

.interact button {
    float: right;
    background-color: #F0C808;
    border-radius: 10px;
    transition: .3s ease;
}

.interact button:hover {
    color: white;
}

.how-to-container {
    width: 100%;
    background-color: #FFF0CF;
    padding: 3em 0;
    margin-bottom: 10em;
}

.how-to-header h2{
    font-family: 'Outfit', sans-serif;
    font-size: 2.5em;
    margin-bottom: 1.5em;
}


.instruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.instruction-caption span {
    display: block;
    text-align: center;
}

.instruction-caption .instruction-name {
    font-family: 'Outfit', sans-serif;
    font-size: 2.0em;
}

.instruction-caption .instruction-details {
    font-size: 1.6em;
}


/* START OF FOOTER */

.footer-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-header .line {
    width: 100%;
}

.footer-header .line hr {
    border-top: solid 1px var(--labelCol);
}

.footer-header .snack-logo-container img {
    display: inline-block;
    margin: auto 2em;
}

.footer-header img {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 5em;
    
}

.footer-details .col-12 {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.detail-title, .details {
    display: block;
    text-align: center;
}

.detail-title {
    font-family: 'Outfit', sans-serif;
    font-size: 2.0em;
    margin-bottom: .5em;

}

.details {
    font-size: 1.6em;
}

.newsletter-form {
    margin: 1.5em auto;
    background-color: #EEEEEE;
    padding: .5em;
    border-radius: 5px;
    display: flex;
    flex-direction: row;

}

.newsletter-form #newsletter_email {
    border: none;
    background-color: #EEEEEE;
    font-size: 1.4em;
    float: left;
    width: 100%;

}

.newsletter-form button {
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    background-color: #F0C808;
    border-style: none;
    padding: .5em 1em;
    border-radius: 5px;
    float: right;
    
}

.newsletter-form button:hover {
    color: white;
}

.lower-footer {
    height: 89px;
    background-color: #383838;
    color: white;
    font-size: 1.4em;
}

.lower-footer .container {
    height: 100%;
}

.lower-footer .container .row {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lower-footer .container .row .col-6 .right {
    float: right;
}

.soc-med {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.social-media-icon {
    margin-left: .5em;
    font-size: 1.8em;
    color: white;
}

/* END OF FOOTER */


@media (min-width: 490px) and (max-width: 767px) {
    /* MID TO WIDE */
    .menu-item {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* WIDE - DESKTOP */
    .menu-item {
        display: flex;
        flex-direction: column;
    }
    
    .instruction {
        margin: 0;
    }

    .how-to-header h2{
        font-size: 4.0em;
    }
}

@media (min-width: 992px) {
    /* DESKTOP +++ */
    .menu-item {
        display: flex;
        flex-direction: row;
    }

    .instruction {
        margin: 0;
    }

    .how-to-header h2{
        font-size: 4.0em;
    }
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}