body {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
}

/* TEMPORARY */
.temporary_hide {
    display: none;
}

/* SIDEBAR CSS */

.sidecart {
    width: 260px;
    position: fixed;
    background-color: #ffffff;
    display: none;
    z-index: 15;
    right: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

hr {
    background-color: #CDCDCD;
}

.cart_list {
    overflow-y: auto;
    min-height: 200px;
}

.cart-image {
    border-radius: 7px;
    width: 60px;
    height: 60px;
}

.sidecart-close {
    border: 2px solid black;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 12px;
    color: black;

}

.item-remove {
    border: 1px solid #A1A1A1;
    padding: 1px 3px;
    border-radius: 4px;
    font-size: 9px;
    color: #A1A1A1;
}

.btn-checkout {
    background-color: #DD1C1A;
    border-radius: 8px;
    color: white;
}

.btn-clear {
    color: #A4A4A4;
}

.item-name {
    font-size: 1.6em;
}

.item-quantity {
    font-size: 1.3em;

}

.item-price {
    font-size: 1.6em;
    color: #F0C808;
}

.cart-label {
    font-size: 1.6em;
}

.cart_item {
    box-shadow: 0px 0px 3px #CDCDCD;
    border-radius: 8px;
}

.cart_price_information {
    min-height: 100px;
}

.cart_price_information .bold, .cart_price_information .bolder {
    font-size: 1.6em;
}

@media (max-width: 300px) {
    .sidecart {
        width: 100%;
    }
}

@keyframes open_cart {
    from {
        right: -1000px;
    }

    to {
        right: 0px;
    }
}

@keyframes close_cart {
    from {
        right: 0px;
    }

    to {
        right: -1000px;
    }

}

.bold {
    font-weight: 700;
}

.bolder {
    font-weight: 800;
}

/* END OF SIDEBAR CSS */

nav {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.navbar-brand {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.red {
    color: #DD1C1A;
}

.yellow {
    color: #F0C808;
}

#active {
    color: #F0C808;
}


.nav-list li{
    margin: 0 1em;
    font-size: 1.6em;
}



a[name="sign-up-btn"] {
    padding: .5em 2em;
    background-color: #DD1C1A; 
    border: none;
    border-radius: 10px;
}

a[name="log-in-btn"] {
    color: #DD1C1A;
    padding: .5em 2em;
}

/* End of NAVBAR CSS */

.top-header {
    background-image: url(../img/Background-Pattern.jpg);
    height: 181px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header .container h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 4.0em;
}
