/* THIS IS TEMPORARY */
.password_requirements {
    display: none;
}

/* VAR */

:root {
    --snackred: #DD1C1A;
    --wiseyellow: #F0C808;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    background-image: url(../img/Background-Pattern.jpg);
}

.parent-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.window-container {
    background-color: white;
    width: 100%;
    padding: 5em 5em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}

.snackwise-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.snackwise-label img{
    width: 3em;
    margin: 0 auto;
}

.snackwise-label{
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.brand-name .red {
    color: var(--snackred);
}

.brand-name .yellow {
    color: var(--wiseyellow);
}

.brand-name a {
    text-decoration: none;
}

.form-header {
    margin-top: 5em;
}

.form-header h1 {
    font-size: 2.0rem;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    color: #DD1C1A;
}


/* .input-container {
    display: flex;
    flex-direction: row;
} */

#account_form {
    margin-top: 3em;
}

.input-container {
    position: relative;
    margin: 1em 0;
}

.input-container input {
    background-color: #F2F1F9;
    width: 100%;
    border-style: none;
    border-radius: 10px;
    font-size: 1.6em;
    padding: 1em 1.3em;
}

.input-container .toggler {
    font-size: 2em;
    position: absolute;
    top: 30%;
    right: 15px;
    top: 20px;
    right: 30px;
    color: #75758A;
}

.input-container span {
    font-size: 1.6em;
}

#account_form .new-password-btn {
    width: 100%;
    font-size: 1.7em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--wiseyellow);
    color: white;
    border-style: none;
    border-radius: 10px;
    padding: 1em;
    margin-top: 2em;
}

@media (min-width: 500px) {
   
    .window-container {
        max-width: 35.0rem;
    }
    
}

/* hides ms-edge password toggler */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.input_error {

    position: relative;
top: 3px;
  
    font-size: 14px!important;
    color: red;
}