/* VAR */
:root {
    --snackred: #DD1C1A;
    --wiseyellow: #F0C808;
    --labelCol: #A3A3A3;
    --valueCol: #595959;

    --fontOutfit: 'Outfit', sans-serif;
    --fontPoppins: 'Poppins', sans-serif;
    
}


body {
    font-size: 62.5%;
    background-image: url(../img/Background-Pattern.jpg);
}

/* START OF NAVBAR CSS */

nav {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.navbar-brand {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.red {
    color: var(--snackred);
}

.yellow {
    color: var(--wiseyellow);
}

#active {
    color: var(--wiseyellow);
}


.nav-list li{
    margin: 0 1em;
    font-size: 1.6em;
    font-weight: bold;
}



a[name="sign-up-btn"] {
    padding: .5em 2em;
    background-color: transparent; 
    border: none;
    color: var(--snackred);
    font-weight: bold;
    border: solid 2px var(--snackred);
    border-radius: 10px;
    transition: .3s ease-in-out;
}

a[name="sign-up-btn"]:hover {
    background-color: var(--snackred);
    color: white;
    border-color: var(--snackred);
}

a[name="log-in-btn"] {
    color: var(--snackred);
    font-weight: bold;
    padding: .5em 2em;
}

/* USER DROPDOWN */

.dropdown button {
    background-color: transparent;
    color: #878787;
    border: none;
    font-size: 2em;
    transition: ease-in-out .5s;
}

.user-dropdown-container {
    position: relative;
}

.user-dropdown-container .user-button {
    background-color: transparent;
    color: #878787;
    border: none;
    font-size: 2.3em;
}

.user-dropdown-container .drop-menu {
    display: none;
    position: absolute;
    font-size: 2em;
    background-color: white;
    border: #d3d3d3 solid 1px;
    border-radius: 5px;
    width: 8em;
    list-style: none;
    padding: 1em .5em;
    z-index: 10;
}

.drop-menu li {
    margin: .3em 0;
}

.drop-menu li a {
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    color: #878787;
    transform: .5s;
}

.drop-menu li a:hover {
    color: #383838;
}

@media (min-width: 768px) {
   
    .user-dropdown-container .drop-menu {
        /* CENTER */
        top: 2.5em;
        left: 50%;
        transform: translateX(-50%);
    }    
    
}

/* END OF USER DROPDOWN CSS */


.order-container {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2em;
    height: calc(100vh - 71px);
    display: flex;
    flex-flow: column;
}

.order-header {
    flex: 0 1 auto;
}

.order-header h1 {
    font-family: var(--fontOutfit);
    font-weight: bold;
    font-size: 2.0rem;
    color: var(--snackred);
    margin-bottom: 1em;
}

.order-sort-container {
    flex: 0 1 auto;
    border-bottom: solid 1px #d4d4d4;
    margin-bottom: 1em;
}

.sort-list {
    padding: 0;
    margin: 0; 
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    list-style: none;
}

.sort-list .sort-item {
    width: 20em;
    margin-right: 2em;
    font-size: 1.6em;
    font-family: var(--fontPoppins);
    font-weight: bold;
    color: var(--valueCol);
    white-space: nowrap;
    width: fit-content;
    padding: 1em 0;
    transition: all .2s ease-in-out;
}

.sort-list #active-sort {
    color: var(--wiseyellow);
    border-top: 2px var(--wiseyellow) solid;
}

.sort-list .sort-item:hover {
    color: var(--wiseyellow);
    border-top: 2px var(--wiseyellow) solid;
}


.order-list {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.order-list .order-item {
    background-color: #f7f7f7;
    padding: 1em;
    border-radius: 8px;
    margin: .5em 0;
}

.order-list .order-item:nth-child(even) {
    background-color: #efefef;

}


.order-item .order-details-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--fontPoppins);
    margin-bottom: .3em
;
}

.order-no-container span {
    font-family: var(--fontOutfit);
    color: var(--wiseyellow);
    font-size: 2.0em;
    font-weight: bold;
}

.tracking-container, .order-date-container, .quantity-container, .amount-container {
    font-size: 1.6em;
    color: var(--labelCol);
}

.tracking-number, .quantity, .total-amt {
    color: var(--valueCol);
    font-weight: bold;
}

.details-btn-container .details-btn {
    font-size: 1.7em;
    /* font-weight: bold; */
    color: var(--labelCol);
    border: solid 1px var(--labelCol);
    border-radius: 5px;
    padding: .3em 1em;
    transition: all .2s ease;
}

.details-btn-container .details-btn:hover {
    color: var(--wiseyellow);
    border: solid 1px var(--wiseyellow);
}

.status-container span{
    font-size: 1.7em;
    font-weight: bold;
}

/* COLORS FOR DIFFERENT PENDING TYPES */

.pending-stat {
    color: #737373;
}

.preparing-stat {
    color: #FFD600;
}

.pickup-stat {
    color: #21A67A;
}

.complete-stat {
    color: #110EC1;
}

.cancelled-stat {
    color: #FF0300;
}

/* END OF COLORS FOR DIFFERENT PENDING TYPES */

.no-orders-container {
    /* 
        This should be 'display: flex;' if naka appear.
    */
    display: none; 
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
}

.no-orders-container .no-order-message {
    font-size: 2.5em;
    font-family: var(--fontOutfit);
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    color: var(--labelCol);
}

.no-orders-container a {
    font-family: var(--fontPoppins);
    font-size: 2.0em;
    color: var(--snackred);
    text-decoration: none;
    padding: .5em 1em;
    border: solid 1px var(--snackred);
    border-radius: 10px; 
    transition: all .3s ease;
}

.no-orders-container a:hover {
    background-color: var(--snackred);
    color: white;
}

@media (min-width: 768px) {
    .order-container {
        width: 70%;
        margin: 5em auto;
        padding: 5em;
        border-radius: 10px;
    }
    .order-list {
        padding: 0 .5em;
    }

    .order-item {
        padding: 2em 3em !important;
    }

    .tracking-number,
    .quantity,
    .total-amt {
        color: var(--valueCol);
        font-size: 1.2em;
        font-weight: bold;
        margin-left: .3em;
    }

    /* width */
    .order-list::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    .order-list::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    /* Handle */
    .order-list::-webkit-scrollbar-thumb {
        background: rgb(180, 180, 180);
        border-radius: 10px;
    }

    /* Handle on hover */
    .order-list::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}









