/* VAR */
:root {
    --snackred: #DD1C1A;
    --wiseyellow: #F0C808;
    --fontOutfit: 'Outfit', sans-serif;
    --fontPoppins: 'Poppins', sans-serif;
}


body {
    font-size: 62.5%;
    background-image: url(../img/Background-Pattern.jpg);
}

/* START OF NAVBAR CSS */

nav {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.navbar-brand {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.red {
    color: var(--snackred);
}

.yellow {
    color: var(--wiseyellow);
}

#active {
    color: var(--wiseyellow);
}


.nav-list li{
    margin: 0 1em;
    font-size: 1.6em;
    font-weight: bold;
}



a[name="sign-up-btn"] {
    padding: .5em 2em;
    background-color: transparent; 
    border: none;
    color: var(--snackred);
    font-weight: bold;
    border: solid 2px var(--snackred);
    border-radius: 10px;
    transition: .3s ease-in-out;
}

a[name="sign-up-btn"]:hover {
    background-color: var(--snackred);
    color: white;
    border-color: var(--snackred);
}

a[name="log-in-btn"] {
    color: var(--snackred);
    font-weight: bold;
    padding: .5em 2em;
}

/* USER DROPDOWN */

.dropdown button {
    background-color: transparent;
    color: #878787;
    border: none;
    font-size: 2em;
    transition: ease-in-out .5s;
}

.user-dropdown-container {
    position: relative;
}

.user-dropdown-container .user-button {
    background-color: transparent;
    color: #878787;
    border: none;
    font-size: 2.3em;
}

.user-dropdown-container .drop-menu {
    display: none;
    position: absolute;
    font-size: 2em;
    background-color: white;
    border: #d3d3d3 solid 1px;
    border-radius: 5px;
    width: 8em;
    list-style: none;
    padding: 1em .5em;
    z-index: 10;
}

.drop-menu li {
    margin: .3em 0;
}

.drop-menu li a {
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    color: #878787;
    transform: .5s;
}

.drop-menu li a:hover {
    color: #383838;
}

@media (min-width: 768px) {
   
    .user-dropdown-container .drop-menu {
        /* CENTER */
        top: 2.5em;
        left: 50%;
        transform: translateX(-50%);
    }    
    
}

/* END OF USER DROPDOWN CSS */













