/* VAR */
:root {
    --snackred: #DD1C1A;
    --wiseyellow: #F0C808;
    --labelCol: #A3A3A3;
    --valueCol: #595959;

    --fontOutfit: 'Outfit', sans-serif;
    --fontPoppins: 'Poppins', sans-serif;
    
}

body {
    font-size: 62.5%;
    font-family: var(--fontPoppins);
    background-image: url(../img/Background-Pattern.jpg);
}

nav {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.navbar-brand {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.red {
    color: #DD1C1A;
}

.yellow {
    color: #F0C808;
}

#active {
    color: #F0C808;
}


.nav-list li{
    margin: 0 1em;
    font-size: 1.6em;
    font-weight: bold;
}



a[name="sign-up-btn"] {
    padding: .5em 2em;
    background-color: transparent; 
    border: none;
    color: #DD1C1A;
    font-weight: bold;
    border: solid 2px #DD1C1A;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

a[name="sign-up-btn"]:hover {
    background-color: #DD1C1A;
    color: white;
    border-color: #DD1C1A;
}

a[name="log-in-btn"] {
    color: #DD1C1A;
    font-weight: bold;
    padding: .5em 2em;
}

/* USER DROPDOWN */

.dropdown button {
    background-color: transparent;
    color: #878787;
    border: none;
    font-size: 2em;
    transition: ease-in-out .5s;
}


.user-dropdown-container .user-button {
    background-color: transparent;
    color: #878787;
    border: none;
    font-size: 2.5em;
}

.user-dropdown-container .drop-menu {
    display: none;
    position: absolute;
    font-size: 2em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    width: 250px;
    list-style: none;
    padding: 1em;
    z-index: 10;
}

.user-header {
    border-bottom: 2px solid #E1E1E1;
    padding: .5em .2em;
    margin-bottom: .5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: .1s ease;
    cursor: pointer;
}

.user-header:hover {
    background-color: #E1E1E1;
    border-radius: 15px;
}

.user-header .name-container {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: .5em;
}

.user-header img {
    width: 35px;
    clip-path: circle();
}

.user-header .full-name {
    font-size: .9em;
    font-weight: bold;
    font-style: var(--fontOutfit);
    color: var(--valueCol);
}


.user-menu-list {
    padding: 0;
}

.user-menu-list li {
    list-style: none;
    margin: .3em 0;
}

.user-menu-list li a {
    text-decoration: none;
    font-style: var(--fontPoppins);
    color: var(--labelCol);
    transition: .1s ease;
}

.logout-container {
    margin-top: 2em;
}

.logout-container a{
    text-decoration: none;
    color: var(--labelCol);

}



@media (min-width: 768px) {
   
    .user-dropdown-container .drop-menu {
        /* CENTER */
        right: 0;
        /* transform: translateX(-50%); */
    }    
    
}

/* END OF USER DROPDOWN CSS */

/* End of NAVBAR CSS */


/* START OF EDIT PROFILE CSS*/

.profile-container {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2em 1em;
    display: flex;
    flex-flow: column; 
}

.flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

.parent-container h1{
    font-family: var(--fontOutfit);
    font-weight: bold;
    font-size: 35px;
    line-height: 1em;
    position: relative;
    color: var(--snackred);
}

hr {
    height: 5px;
    background-color: gray;
}

.user-avatar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
} 

.avatar{
    width:300px;
    border-radius: 15px;
    margin: 0 auto;
    border: none;
}	

.form-header h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: var(--snackred);
}

label{

    font-size: 20px;
    font-weight: bold;
    color: var(--wiseyellow); 
}

.col input {
    border: none;
    border-radius: 10px;
    background-color:#F2F1F9;
    height: 65px;
    margin: .25em 0;
    margin-bottom:20px;
    padding: 1em;
}
.col input:focus {
   box-shadow: none;
   background-color:#F2F1F9;
   border: black solid 2px;
}

.personal-info .btn {
    border-radius: 10px;
    font-size: 18px;
    padding: .8em 0; 
    margin: 1em 0; 
    max-width: 18em;
}

.edit-btn {
    background-color: var(--snackred);
    color: white;
}

.update-btn {
    background-color: var(--snackred);
    color: white;
}

/* end edit profile form*/

@media (min-width: 768px) {
    .profile-container {
        width: 70%;
        margin: 5em auto;
        padding: 5em;
        border-radius: 10px;
    }

}


.image_modal {
    height: 300px;
    width: 300px;
    position: relative;
    margin: 0 20px;

}

.display_image_modal {



    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 500px;
    z-index: 9;


}

.display_image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: #F2F1F9 3px solid;
    border-radius: 500px;

}

.image_container input[type="file"] {

    display: none;

}

.choose_image {
    height: 50px;
    width: 50px;
    border-radius: 999px;
    position: absolute;
    bottom: 0;
    right: 45px;
    background-color: #DD1C1A;
    color: white;
    border: none;
    font-size: 20px;
    z-index: 999;
}

.lg-backdrop {
    opacity: 0.8 !important;
}

.input_error {

    position: relative;
    top: -15px;
    font-size: 14px;
    color: red;
}
