/* CSS VARIABLES */
:root {
    --fontPoppins: 'Poppins', sans-serif;
    --fontOutfit: 'Outfit', sans-serif;

    --snackRed: #dd1c1a;
    --wiseYellow: #f0c808;
}

body {
    font-family: var(--fontPoppins);
    background-image: url(../img/Background-Pattern.jpg);
}

.parent-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.address_option {
    display: none;
    opacity: 0;
}

.snackwise-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.snackwise-label img{
    width: 3em;
    margin: 0 auto;
}

.snackwise-label{
    font-family: var(--fontOutfit);
    font-weight: bold;
    font-size: 30px;
}

.brand-name .red {
    color: var(--snackRed);
}

.brand-name .yellow {
    color: var(--wiseYellow);
}

.form-header {
    margin: 2em 0;
}

.form-header h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: var(--snackRed);
}
.input-group-text {
    border-radius:  0 5px 5px 0 !important;
  border: none;
  background-color: #eeeeee;
    padding: 1.53em 1.3em;
}
.input-section {
    margin: 2em 0;
}

.group-title {
    font-weight: bold;
}

.form-group input[type="text"], input[type="password"], input[type="text"] {
    border: none;
    background-color:#F2F1F9;
    border-radius: 10px;
    height: 65px;
    margin: 1em 0;
    padding: 1em;
    width: 100%;
}

.password-container {
    position: relative;
}

.password-container .toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #75758A;
    font-size: 1.2em;
    cursor: pointer;
    z-index: 2;
}

.form-select {
    border: none;
    background-color: #eeeeee;
    height: 65px;
    margin: 1em 0;
    padding: 1em;
}

.form-end-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#register {
    border-radius: 10px;
    font-size: 18px;
    padding: .8em 0; 
    margin: 1em ;
    background-color: var(--snackRed);
    width: 10em;
}

#cancel {
    margin: 0 3em;
    color: var(--snackRed);
    font-size: 18px;
    text-decoration: none;
}

@media (min-width: 768px) {

    .form-container {
        width: 35em;
    }

}

/* hides ms-edge password toggler */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.input_error {
    left:10px;
    position: relative;
    top: -8px;
    font-size: 14px;
    color: red;
}

.password_requirements {
    max-height: 0;
    transition: max-height .6s ease-out;
    overflow: hidden;
    margin-left: 30px;
}
.password_requirements h6{
   font-size: 14px;
   margin-top: -6px;
}
.password_requirements #length_con{
    margin-top: 0px!important;
}
.password_requirment_active {
    max-height: 300px;
    transition: max-height .6s ease-in;
}